table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}
table {
    border-collapse: collapse; /* Optional: for better table styling */
    width: auto; /* Adjust width as needed */
    margin: auto; /* Auto margins to center horizontally */
}

/* Optional: Styling for the table itself */
table, th, td {
    border: 1px solid black; /* Basic border styling */
    padding: 10px; /* Padding inside cells */
    text-align: left; /* Text alignment inside cells */
}
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Adds space above and below the search bar */
}

.search-input {
    width: 50%; /* Adjust the width as needed */
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
}
